In [6]:
print ("3+9=",3+9)

3+9= 12

In [10]:
print ("hello python ", end = ')
print ( "world")

SyntaxError: EOL while scanning string literal (1972476161.py, line 1)

In [13]:
print ('     *    ')
print ('    ***')
print ('   *****')
print (' *********')
print ('   *****')
print ('    ***')
print ('     *')

     *
    ***
   *****
 *********
   *****
    ***
     *

In [1]:
print ("hello I will introduce my self.")
print ("name : southavy snegdavong")
print("Age:18")
print("Job: student")
print("Address : vientiane,Lao")
print("place of Brith: chanthabuly,vientiane,lao")

hello I will introduce my self.
name : southavy snegdavong
Age:18
Job: student
Address : vientiane,Lao
place of Brith: chanthabuly,vientiane,lao

In [2]:
 int('10')/2

5.0

In [1]:
reduis=4.0
print('reduis of circle ',reduis)
print('Area of circle',3.14 * reduis * reduis)
print('circu,ference of circle',2.0 * 3.14 * reduis)

reduis of circle  4.0
Area of circle 50.24
circu,ference of circle 25.12

In [2]:
width= 10
height =5
rectangle_area = width * height
print('Rectangle Area = ',rectangle_area)

Rectangle Area =  50

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
x,y=100,200
result = x+y
print(result)

300

In [11]:
num =200
num +=100
print ( num)
num -=100
print(num)
num*=20
print(num)
num/=2
print(num)

300
200
4000
2000.0

In [14]:
Name = input('Ener your name: ')
wegiht =float (input('Enter weght : '))
hight = float (input('Enter hight:'))

BMI = (wegiht / (hight**2) )
print('Your BMI :',BMI)

Ener your name: jimmy
Enter weght : 88
Enter hight:1.79
Your BMI : 27.46481071127618

In [15]:
money = float (input('Money paid:'))
price = int(input("price of item:"))

change =money-price
print('Amout of chang : ',change)

coin500s = change // 500
change = change  % 500 

coin100s = change // 100

print('Price of 500 won coins:',coin500s)
print('Price of 100 won coins:',coin100s)

Money paid:10000
price of item:400
Amout of chang :  9600.0
Price of 500 won coins: 19.0
Price of 100 won coins: 1.0

In [16]:
a=int(input('A:'))
b=int(input('B:'))
c= (a**2 + b**2)**1/2
print('Area : ',c)

A:5
B:1
Area :  13.0