# Q1

In [1]:
def welcome():
    print('Welcome.')
welcome()
welcome()

Welcome.
Welcome.

# Q2

In [2]:
def max(m,n):
    if m>n:
        
        return  m
    else:
        return n
def min(m,n):
    if m<n:
        return m
    else:
        return n
print('The greater of 100 or 200, is:',max(100,200))
print('The smaller of 100 or 200 is',min(100,200))

The greater of 100 or 200 is: 200
The smaller of 100 or 200 is 100

# Q3

In [3]:
def mile_to(miles):
    kilometers = miles * 1.60934
    return kilometers
for miles in range(1, 6):
    kilometers = mile_to(miles)
    print(f"{miles} mile = {kilometers:.2f} kilometers")

1 mile = 1.61 kilometers
2 mile = 3.22 kilometers
3 mile = 4.83 kilometers
4 mile = 6.44 kilometers
5 mile = 8.05 kilometers

# Q4

In [4]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
for celsius in range(10, 51, 10):
    fahrenheit = celsius_to_fahrenheit(celsius)
    print(f"{celsius} degrees Celsius = {fahrenheit} degrees Fahrenheit")

10 degrees Celsius = 50.0 degrees Fahrenheit
20 degrees Celsius = 68.0 degrees Fahrenheit
30 degrees Celsius = 86.0 degrees Fahrenheit
40 degrees Celsius = 104.0 degrees Fahrenheit
50 degrees Celsius = 122.0 degrees Fahrenheit

# pair

In [3]:
def mean3(a,b,c):
    avg=(a+b+c)/3
    return avg
def max3(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
def min3(a,b,c):
    if a<b and a<c:
        return a
    elif b<a and b<c:
        return b
    else:
        return c
a,b,c=(input('Enter three number ')).split()
a=int(a)
b=int(b)
c=int(c)
print('The average value of', a, b, c, 'is' ,mean3(a,b,c))
print('The maximum value of', a, b, c, 'is' ,max3(a,b,c))
print('The minimum value of', a, b, c, 'is' ,min3(a,b,c))

Enter three number 9 2 6
The average value of 9 2 6 is 5.666666666666667
The maximum value of 9 2 6 is 9
The minimum value of 9 2 6 is 2